# Ignore VSCode settings
.vscode/

# Ignore .temp folder
.temp/

# Ignore Python cache files in all folders
__pycache__/
*.py[cod]

# Ignore pytest cache
.pytest_cache/

# Ignore Python cache files only in tests/
tests/__pycache__/
tests/**/*.py[cod]

# Optional: ignore pytest cache
.pytest_cache/

test.py
Pipfile.lock